body {
Overflow: Hidden; 
Background: Url("../Images/Background.png");
Background-Repeat: No-Repeat;
Background-Size: Cover;
}

.title {
background: gray;
color: red;
}

.subtitle {
background: gray;
color: red;
}

.title1 {
background: gray;
color: red;
}

.title2 {
background: gray;
color: red;
}

.Connect, .Close {
width: 49%;
}

.Send {
width: 100%;
}

.Input {
text-align: center;
}

    @keyframes FadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-webkit-keyframes FadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-moz-keyframes FadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-o-keyframes FadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-ms-keyframes FadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @keyframes FadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-webkit-keyframes FadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-moz-keyframes FadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-o-keyframes FadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-ms-keyframes FadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    #Toast{
      color: #FFF;
      font-size: 14px;
      line-height: 1;
      padding:10px;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      z-index: 9999;
    }
    .Hide{
      display: none;
    }
    .FadeOut{
      animation: FadeOut .5s;
    }
    .FadeIn{
      animation: FadeIn .5s;
    }

.loader {
   font-size: 12px;
   width: 1em;
   height: 1em;
   margin-left: 50%;
   margin-top:51%;
   border-radius: 50%;
   text-indent: -9999em;
   animation: load-effect 1s infinite linear;
}

@keyframes load-effect {
   0%{
      box-shadow:

         /*

          0:左移3em

          -3em:下移2em

          0:模糊距离0，即纯色

          .2em:外扩.2em

          red  :白色

         */

         0 -3em 0 .2em red  ,/*上*/

         2em -2em 0 0 red  ,/*右上*/

         3em 0 0 -.5em red  ,/*右*/

         2em 2em 0 -.5em red  ,/*右下*/

         0 3em 0 -.5em red  , /*下*/

         -2em 2em 0 -.5em red  , /*左下*/

         -3em 0 0 -.5em red  , /*左*/

         -2em -2em 0 0 red  ;/*左上*/
   }


   12.5% {
      box-shadow:

         0 -3em 0 0 red  ,

         2em -2em 0 .2em red  ,

         3em 0 0 0 red  ,

         2em 2em 0 -.5em red  ,

         0 3em 0 -.5em red  ,

         -2em 2em 0 -.5em red  ,

         -3em 0 0 -.5em red  ,

         -2em -2em 0 -.5em red  ;
   }


   25% {
      box-shadow:

         0 -3em 0 -.5em red  ,

         2em -2em 0 0 red  ,

         3em 0 0 .2em red  ,

         2em 2em 0 0 red  ,

         0 3em 0 -.5em red  ,

         -2em 2em 0 -.5em red  ,

         -3em 0 0 -.5em red  ,

         -2em -2em 0 -.5em red  ;
   }


   37.5% {
      box-shadow:

         0 -3em 0 -.5em red  ,

         2em -2em 0 -.5em red  ,

         3em 0 0 0 red  ,

         2em 2em 0 .2em red  ,

         0 3em 0 0 red  ,

         -2em 2em 0 -.5em red  ,

         -3em 0 0 -.5em red  ,

         -2em -2em 0 -.5em red  ;
   }


   50% {
      box-shadow:

         0 -3em 0 -.5em red  ,

         2em -2em 0 -.5em red  ,

         3em 0 0 -.5em red  ,

         2em 2em 0 0 red  ,

         0 3em 0 .2em red  ,

         -2em 2em 0 0 red  ,

         -3em 0 0 -.5em red  ,

         -2em -2em 0 -.5em red  ;
   }


   62.5% {
      box-shadow:

         0 -3em 0 -.5em red  ,

         2em -2em 0 -.5em red  ,

         3em 0 0 -.5em red  ,

         2em 2em 0 -.5em red  ,

         0 3em 0 0 red  ,

         -2em 2em 0 .2em red  ,

         -3em 0 0 0 red  ,

         -2em -2em 0 -.5em red  ;
   }


   75% {
      box-shadow:

         0 -3em 0 -.5em red  ,

         2em -2em 0 -.5em red  ,

         3em 0 0 -.5em red  ,

         2em 2em 0 -.5em red  ,

         0 3em 0 -.5em red  ,

         -2em 2em 0 0 red  ,

         -3em 0 0 .2em red  ,

         -2em -2em 0 0 red  ;
   }


   87.5% {
      box-shadow:

         0 -3em 0 0 red  ,

         2em -2em 0 -.5em red  ,

         3em 0 0 -.5em red  ,

         2em 2em 0 -.5em red  ,

         0 3em 0 -.5em red  ,

         -2em 2em 0 0 red  ,

         -3em 0 0 0 red  ,

         -2em -2em 0 .2em red  ;
   }



   100% {
      box-shadow:

         0 -3em 0 .2em red  ,

         2em -2em 0 0 red  ,

         3em 0 0 -.5em red  ,

         2em 2em 0 -.5em red  ,

         0 3em 0 -.5em red  ,

         -2em 2em 0 -.5em red  ,

         -3em 0 0 -.5em red  ,

         -2em -2em 0 0 red  ;
   }
}
   
td {
text-align: center;
background: orange;
}

button {
border-radius: 9px;
border-color: blue;
background: yellow;
color: green;
}